name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
      - "**/CHANGELOG.md"
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "**/CHANGELOG.md"
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        erlang: ["27", "28"]
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.erlang }}
          gleam-version: "1.13.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test --target=erlang
      - run: gleam test --target=javascript
      - run: gleam format --check src test
